@media only screen and (max-width: 1024px) {
	.logo{
		font-size: 3vw;
	}
	#navIcon{display: none}
	.comics-right_list{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}					
@media only screen and (max-width: 768px) {
	.logo{
		font-size: 26px;
		margin-left: 20px;
	}
	#navIcon{display: none}
	.user-log{ margin-right: 12px;}
	.content_comic-img{
		width: 160px;
		height: 220px;
	}
	.comics-right_list{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.update-comics{
		grid-template-columns: repeat(2, 1fr)
	}
}		
			
/*ReadicCom.html----------------------------------------------------------  */

@media only screen and (max-width: 640px) {
	.column{width: 100%}
	.header-website{position: relative}
	.logo{
		font-size: 16px;
	}
	.hello{display: none}
	.nav-list{ 
		position: absolute;
		top: 100%; left: -8px;
		width: 102%;
		display: none;
	}
	.nav-list.open{display: block}
	.filter-list_link{
		background-color: var(--box1-color);
		border-bottom: 1px solid var(--border-color);
		padding: 14px 12px;
	}
	#navIcon{
		display: block;
		margin-right: 20px;
		font-size: 26px;
	}
	.user-log{display: none}
	/* update-date----------------------------------------------*/
	.comics_update .update-date{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.comics_update .update-comics{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr)
	}
	.update-comic{width: 100%;}
	.content-comics{ display: block;}
	.comics-left{
		width: 100%;
		margin: 20px 0px;
	}
	.comics-right_list{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.comic-right_header{ font-size: 16px}

	/* Chap.html------------------------------------------------------------------- */
	.list_chap-box{
		position: fixed;
		bottom: 0; right: 0; left: 0;
		margin: 120px auto;
		width: 460px;
		font-size: 18px;
		padding: 12px;
		border-radius: 4px;
		border: 1px solid #ccc;
		background-color: var(--box1-color);
		z-index: 111;
		display: none;
		cursor: default;
	}
	.list-chap{
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 4px;
		row-gap: 6px;
		list-style: none;
		max-height: 344px;
		overflow-y: scroll;
	}

	.list-info_name{font-size: 3.6vw;}
	.list-info_chapter{font-size: 3vw;}
}					
					
@media only screen and (max-width: 480px) {
	.logo{
		/* width: 140px; */
		font-size: 24px;
		text-shadow: 1px 2px 3px var(--web)
	}
	.update-date{
		display: block;
	}
	.update-comics{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.comics-right_list{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.wrap-search{
		position: relative;
		margin-left: 22%;
	}
	.search-input{
		position: fixed;
		top: 45px;
		width: 300px;
		left: 9%;
		display: none;
	}
	#searchBar{
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		display: flex;
		width: 90%; height: 36px;
		margin: 60px auto;
		justify-content: center;
		background: #262525;
		border: 1px solid #525151;
		border-radius: 3px;
		color: var(--white)
	}
	#searchBar.open{display: block;}
	.search-icon{
		display: flex;
		justify-content: center;
	}
	.search-icon i{
		width: 30px;
		height: 30px;
	}
	.wrap-search_comics{
		width: 90%;
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		margin: 100px auto 0 auto;
		z-index: 9;
		max-height: 280px;
	}
	.search_comic-info{
		max-height: 240px;
		overflow: scroll;
	
	}
	.overlay-close{
		background: rgba(0,0,0,0.4);
	}
	.column > .container{
		display: block;
	}
	.wrapper-trend{
		width: 100%;
		margin: 0;
	}
	.comics-box{
		width: 100%;
	}
	.comic-box_img{
		width: 50px; height: 50px;
		object-fit: cover;
	}

	/* comic.html---------------------------------------------------- */
	
	.infor-comic_wrapper{
		display: block;
		margin: 0 auto;
	}
	.infor-comic_img{
		width: 100%;
	}
	.infor-comic_img > img{
		width: 200px;
		display: flex;
		margin: 0 auto;
	}
	.comic_name-rate{
		position: absolute;
		bottom: 0;
	}
	.comic_img-link{
		width: 100%;
	}
	.img-link_read{
		display: block;
		text-align: center;
		width: 120px;
		padding: 8px;
	}
	.comic_follow {
		top: -320px;
	}
	.others_text-plot{
		font-size: 14px;
	}
	.infor-others_text li{
		max-height: 120px;
	}
	/* ---------------------------------------------------------------- */
	.chapter_list-time{
		font-size: 11px;
	}
	.infor-others_list {
		gap: 0;
		text-align: center;
	}
	.box_infor-chapter{
		padding: 0;
	}
	.box_infor-chapter h2 {
		padding: 12px;
	}
	#comic-list{
		width: auto;
	}
	.box_infor-chapter ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.infor-comic_img{
		margin: 20px auto;
	}
	/* rank.html----------------------------------------------------- */
	.box-filter > h3{
		font-size: 4vw;
	}
	.box-filter > span {
		font-size: 3.5vw;
	}
	.top-comic {
		font-size: 3vw;
	}
	/* image.html---------------------------------------------------- */
	.list-image{
		column-count: 2;
	}
	/* account.html-------------------------------------------------- */
	.form-box{
		width: 100%;
		margin: 40px 6px;
	}
	/* genre.html----------------------------------------------------- */
	.top_genre{display: block}
	.box-genre{
		position: fixed;
		top: 0; right: 0; left: 0;
		margin: 100px auto;
		width: 90%;
		display: none;
		z-index: 99
	}
	.genre-list{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.box-genre.open{display: block}
	.genre_overlay{
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		display: none;
	}
	.genre_overlay.open{display: block}
	.list_check{
		font-size: 3vw;
	}
}					
