*{
	margin: 0;
	padding: 0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;

}
:root{
	--white: #ffffff;
	--web: #d21573;

	--white-color: #faf4f4;
	--white2-color: #c3c3ba;
	--border-color: #b3b8bb;
	--primary-color: #d21573;
	--column-color: #3d3b3f;
	--container-color: rgb(24,26,27);
	--rgba-color: rgba(0, 0, 0, 0.8);
	--text-color: #ede0e0;
	/* Gam lạnh */
	/* #021859, #03318C  */
	--box1-color: rgb(20, 24, 26);
	--box2-color: #181A1B;

	--co1-text: linear-gradient(-180deg,transparent,rgba(0,0,0,.78));

	--color1-cool: rgb(31, 41, 46);
	--color2-cool : #0C1012;
	--color3-cool: #035AA6;
	--color4-cool: #3098D9;
	--color5-cool: #66CAF2;

	/* --Đọ dài */
	--column-width: 1140px;
}

body{
	background-color: var(--color1-cool);
}
#container{
	background-color: var(--container-color);
	margin: 20px 0px;
}
.column{
	margin: 0 auto;
	max-width: var(--column-width);
	width: 100%;
	padding: 14px 4px;
}
::-webkit-scrollbar{
	width: 8px;
}
::-webkit-scrollbar-thumb{
	border-radius: 3px;
	background-color: var(--primary-color);
}
.close{
	display: none;
}
.open{
	display: block; 
}
.wrap-search_comics.open{
	display: block;
}
.list_chap-box.open{
	display: block;
}
.navlist-icon_open.close{
	display: none;
}
.navlist-icon_close.close{
	display: none;
}
.list_chap-icon.not-chap{
	display: none;
}
.top-comic.colorBack{
	background-color: var(--primary-color);
}
#back-top{
	position: fixed;
	bottom: 90px;
	right: 32px;
	border: 1px solid var(--white-color);
	border-radius: 4px;
	cursor: pointer;
}
.current-chap{
	background-color: red;
	color: var(--color5-cool);
	border-bottom: 1px solid var(--color5-cool);
}
.line {
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 0;
	height: 4px;
	border-radius: 15px;
	background-color: #c23564;
	transition: all 0.2s ease;
  }
  .active{
	background-color: var(--primary-color);
  }
  .assigned{
	opacity: 1;
	border-bottom: 3px solid var(--primary-color);
	background: #403f3f;
	text-shadow: 1px 2px 1px #000;
  }
  .no-asign{
	
  }
/* --------------------------------------------------------------------------------------------------- */
header{
	z-index: 2;
	background: rgba(0,0,0,0.8);
	box-shadow: 1px 1px 2px var(--box1-color);
}
.header-website{
	padding: 10px;
}
.website_box{
	transition: 0.4s;
	display: flex;
	align-items: center;
	column-gap: 12px;
	display: flex;
	justify-content: space-between;
}
.logo{
	position: relative;
	font-size: 1.8vw;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
}
.logo a{
	text-decoration: none;
	color: var(--white-color);
	display: block;
	position: relative;
}
.hello{
	position: absolute;
    right: -42%;
    top: -2px;
    font-size: 10px;
    text-transform: capitalize;
	color: var(--white-color);
    background-color: var(--primary-color);
    padding: 3px;
    border-radius: 3px;
}
nav{margin-left: 50px;}
.wrap-search{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
    gap: 12px;
}
#searchBar{
	position: relative;
    padding: 5px 36px 5px 12px;
    outline: none;
    z-index: 123;
	width: 250px;
}
.search-input{
	width: 100%;
	position: relative;
	z-index: 200;
}
.search-input.open{display: block}

.search-icon:hover{
	color: var(--primary-color);
	cursor: pointer;
}
.search-icon > i{
	position: relative;
	top: 0px; right: 2px; bottom: 2px;
	border: 1px solid var(--border-color);
	border-radius: 3px;
	padding: 6px;
	/* margin-left: 6px; */
	color: var(--white-color);
	background-color: var(--primary-color);
	z-index: 123;
	display: none;
}
.search-icon > i.open{
	display: block;
}
.wrap-search_comics{
	position: absolute;
	width: 300px;
	right: 0; top: 36px; left: 0;
	background-color: #17191A;
	padding: 12px;
	border-radius: 3px;
	border: 1px solid var(--color1-cool);
	display: none;
	z-index: 111;
}
.wrap-search_comics .search_comics-head{
	position: relative;
	display: block;
	color: var(--white-color);
	padding-bottom: 4px;
	font-size: 14px;
	border-bottom: 1px solid var(--primary-color);
	z-index: 12;
}
.search_comic-info{
	position: relative;
	max-height: 347px;
	overflow-y: scroll;
	padding-top: 4px;
	z-index: 12;
}
.search_comic-box{
	width: 100%;
	text-decoration: none;
	display: flex;
	column-gap: 10px;
	padding: 8px 0px 8px 6px;
	border-bottom: 1px solid var(--color1-cool);
}
.search_comic-box:hover{
	background-color: var(--color1-cool);
}
.comic-box_img{
	width: 50px;
	height: 50px;
	border: 1px solid var(--border-color);
	border-radius: 2px;
	object-fit: cover;
}
#navIcon{display: none};
/* ------------------------------------------------------------------ */
.nav-mobile{
	position: fixed;
	top: 0; right: 0; left: 0;
	margin: 60px auto;
	width: 80%;
}
.comic-box_info{
	width: 100%;
}
.comic-box_info span:nth-child(1){
	width: 100%;
	text-decoration: none;
	color: var(--white-color);
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;	
}
.comic-box_info span:first-child{
	font-size: 13px;
}
.box_info-genre{
	display: flex;
	color: #ccc;
	text-transform: capitalize;
	font-size: 12px;
	margin-top: 4px;
	font-style: italic;
	gap: 4px;
	opacity: 0.4;
}
.overlay-close{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1;
}
.user-log{
	color: var(--white-color);
	/* width: 160px; */
	text-decoration: none;
	font-size: 14px;
}
.user-log:hover{
	color: var(--primary-color);
}

.nav-list{
	/* padding-left: 50px; */
	list-style: none;
	display: flex;
	align-items: center;
	justify-content:space-between;
}
.filter-list{
	position: relative;
	font-size: 13px;
	color: var(--white-color);
	transition: 0.8s;
	z-index: 15;
}

.filter-list_link{
	display: block;
	padding: 4px 8px;
	text-transform: uppercase;
	color: var(--white-color);
	text-decoration: none;
	font-weight: 500;
}
.filter-list_link:hover{
	color: var(--primary-color);
	cursor: pointer;
}
.color-primary{
	color: var(--primary-color);
}
.filter-list_wrapper{
	display: none;
	position: relative;
	z-index: 99;
}

.filter-list_genre{
	position: absolute;
	top: 110%;
	left: 0;
	width: 540px;
	padding: 12px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: var(--column-color);
	border: 1px solid var(--border-color);
	box-shadow: 1px 1px 4px var(--border-color);

	
}
.filter-list_genre2{
	max-width: 300px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.filter-list{
	position: relative;
}
.filter-list_wrapper::after{
	position: absolute;
	top: 100%;
	content: '';
	width: 100px;
	height: 10px;
}
.filter-list:hover .filter-list_wrapper{
	display: block;
}
.filter-list_genre > li > a{
	text-transform: capitalize;
	text-decoration: none;
	color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 4px;
	padding: 8px 12px;
	font-weight: 400;
}
.filter-list_genre > li > a:hover{
	color: var(--primary-color);
	background-color: rgba(0,0,0,0.2);	
	border-radius: 3px;
}
/* --------------------------------------------------------------------------------------------------- */
.comic-history{
	display: flex; 
	column-gap: 4px;
	align-items: center;
	font-size: 13px;
	padding: 8px;
	border-bottom: 1px solid var(--primary-color);
	border-top: 1px solid var(--primary-color);
	margin: 20px 0px;
}
.comic-history_info{
	font-size: 13px;
	font-weight: 400;
	color: var(--white-color);
}
.fa-solid, .fa-regular{
	color: var(--white-color)
}
.change-name{
	color: var(--white-color);
}
.history_info-link{
	text-decoration: none;
	font-size: 14px;
	color: var(--white-color);
	text-transform: capitalize;
	padding: 4px 24px;
	border-radius: 3px;
}
.history_info-link:hover{
	color: var(--primary-color);
}
/* -------------------------------------------------------------------------------- */
.comics-box{
	border: 1px solid var(--border-color);
	border-radius: 3px;
	padding: 12px;
	background-color: var(--box1-color);
	margin-bottom: 20px;
}
.comics-box .comic-right_header{
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 12px;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--white-color);
}
.comics-box > span{
	display: block;
	color: var(--primary-color);
	font-size: 20px; 
	text-transform: capitalize;
	padding-bottom: 12px;
	border-bottom: 1px solid var(--border-color);
}
.comis-box_random{
	margin-top: 12px;
    max-height: 385px;
    overflow: hidden;
}
/* .comis-box_random:last-child{
	max-height: 77px;
} */
.comic-wrap{
	position: relative;
	display: flex;
	padding-bottom: 4px;
	margin-top: 8px;
	border-bottom: 1px solid var(--border-color);
}
.comic-wrap_img{
	width: 60px;
	height: 60px;
	border-radius: 4px;
	border: 1px solid var(--border-color);
	object-fit: cover;
}
.comic-wrap_img:hover{
	opacity: 0.8;
}

.comic-wrap_info{
	width: 240px;
	margin-left: 8px;
	margin-top: 4px;
}
.wrap_info-chap,
.wrap_info-name{
	display: block;
	width: 86%;
	font-size: 14px;
	text-decoration: none;
	text-transform: capitalize;
	color: var(--white-color);

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wrap_info-name:hover,
.wrap_info-chap:hover{
	color: var(--primary-color);
}

.wrap_info-chap{
	font-size: 12px;
	margin-top: 8px;
	color: var(--white2-color);
}		
.wrap_info-viewer{
	position: absolute;
	right: 12px; bottom: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 6px;
	font-size: 12px;
	opacity: 0.6;
	color: var(--white-color)
}
/* -------------------------------Hiệu ứng chữ----------------------------- */
.text-effect{
	position: absolute;
	left: 12px; top: 12px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;

	animation: nhapNhay 1.2s steps(5, start) infinite;
	border-radius: 3px;
	padding: 2px 6px;
	background-color: var(--primary-color);
}
@keyframes nhapNhay {
	100%{
		visibility: hidden;
	}
}
/* --------------------------------Nav-website----------------------------- */
#nav-website{
	align-items: center;
}
.website-link{
	margin-right: 20px;
	position: fixed;
	bottom: 38px;
	right: 64px;
	display: flex;
	column-gap: 2px;
	border: 1px solid var(--border-color);
	border-radius: 6px;
	background-color: var(--box1-color);
}
.website-link.close{
	display: none;
}
.website-link i{
	font-size: 20px;
	padding: 12px 18px;
	border-bottom: 2px solid transparent;
	transition: all 0.4s ease;
}
.website-link i:hover{
	color: var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
}
.link_page{
	display: block;
}
.website-icon{
	position: fixed;
	bottom: 44px;
	right: 40px;
}
#checkbox {
	display: none;
 }
  
.toggle {
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition-duration: .5s;
}
  
.bars {
	width: 100%;
	height: 4px;
	background-color: var(--primary-color);
	border-radius: 4px;
}
  
  #bar2 {
	transition-duration: .8s;
  }
  
  #bar1,#bar3 {
	width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
	position: absolute;
	transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
	transform: scaleX(0);
	transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
	width: 100%;
	transform: rotate(45deg);
	transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
	width: 100%;
	transform: rotate(-45deg);
	transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
	transition-duration: .5s;
	transform: rotate(180deg);
  }
  /* ------------------------------Phan trang----------------------------- */
.wrap-list_page,
.listPage{
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.wrap-list_page{
	margin-top: 20px;
}
.listPage{
	list-style: none;
	gap: 6px;
}
.wrap-list_page > i,
.listPage li{
	padding: 6px 12px;
	border: 1px solid var(--border-color);
	color: var(--white2-color);
	border-radius: 4px;
	cursor: pointer;
}
.wrap-list_page > i:hover,
.listPage li:hover{
	background-color: var(--primary-color);
}
.prev-page.close, .next-page.close{display: none}
  /* ------------------------------Footer----------------------------- */
footer{
	background-color: var(--box2-color);
	color: var(--white);
}
